<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div >  <!-- ng-app="" -->
    <p>Name: <input type="text" ng-model="name"></p>
    <p ng-bind="name"></p>
</div>

<div ng-app="myApp" ng-controller="personCtrl">

    First Name: <input type="text" ng-model="firstName">
    Last Name: <input type="text" ng-model="lastName">
    <br>
    Full Name: {{fullName()}}
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('personCtrl', function($scope) {
        $scope.firstName = "Vivek";
        $scope.lastName = "Srinivasa";
        $scope.fullName = function() {
          return $scope.firstName + " " + $scope.lastName;
        };
    });
</script>
</body>
</html>